@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
//
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

// vendor styles
@import "vendor/aos";
@import "vendor/slick-carousel";
@import "vendor/index-menu";

// mixins
@import 'mixins/container-border';
@import 'mixins/flex';
@import 'mixins/avatar';
@import 'mixins/helpers';
@import 'mixins/pseudo';
@import 'mixins/push-center';
@import 'mixins/sidelines';
@import 'mixins/zindex';

// global styles
@import 'global/app-dashboard';
@import 'global/layout';

// custom components
@import 'components/navigation/main-nav';

@import 'components/footer';

.wrapper {
  width: 100%;
  height: 100%;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #F6FFF7;
}

.heading {
  width: 100%;
  display: flex;
  padding: 2rem 4rem;
}

.my-name {
  width: 100%;
  font-size:1.8rem;
  font-family: 'Montserrat Subrayada', sans-serif;
}

.social-media {
  font-size: 1.3rem;
}
.social-buttons {
  padding-right: 0.5rem;
}
.container {
  background-color: #FFF;
  width: 97%;
  height: 100%;
}

.social-media {
  width: 100%;
  text-align: right;
  a {
    color:#000;
  }
}
.page-inactive {
  display:none !important;
}

.nav {
  text-align: center;
  display: block;
  position: relative;
  margin: 0 2rem;
  text-transform: uppercase;
  font-family: 'Quicksand', sans-serif;
  padding: 0.2rem 1rem;
  &:hover {
    cursor: pointer;
  }
}

.nav::before{
  content:'';
  position: absolute;
  bottom: 0.5rem;
  left: 0.8rem;
  width: 0.6rem;
  height: 0.6rem;
  border: 0.1rem solid #BFCFC8;
  border-width: 0rem 0rem 0.1rem 0.1rem;
  transition: 0.5s;
  opacity: 0;

}
.nav:hover:before{
  bottom: -0.1rem;
  left: -0.2rem;
  opacity: 1;
}
.nav::after{
  content: '';
  position: absolute;
  top: 0.3rem;
  right: 0.8rem;
  width: 0.6rem;
  height: 0.6rem;
  border: 0.1rem solid #BFCFC8;
  border-width: 0.1rem 0.1rem 0rem 0rem;
  transition: 0.5s;
  opacity: 0;
}
.nav:hover:after{
  top: -0.1rem;
  right: -0.2rem;
  opacity: 1;
}

.navwrapper {
  border-top-style: solid;
  border-top-width: thin;
  border-top-color: #B2B9C4;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #B2B9C4;
  padding: 1rem 0rem;
  margin: 3.5rem 3rem 0rem;
}
.nav-active {
  color: #2B9C5D;
  font-weight: bold;
}

.navbar {
  display: flex;
  position: relative;
}

.nav-items {
  position: relative;
  display: flex;
  justify-content: space-around;
  width:100%;
}

.navmover {
  width:35%;
}

.workgrid {
  padding: 4rem 6rem;
  //display: flex;
  flex-direction: column;
  justify-content: center;
}

.workspace {
  display: flex;
  justify-content: center;
  @include breakpoint(medium down) {
    flex-direction: column;
  }
}


.work-one {
  position: relative;
  min-height: 10rem;
  min-width: 10rem;
  height:30rem;
  width:30rem;
  &:hover .food-img{
    opacity: 0.8;
  }
  &:hover .food-after {
    opacity: 0.8;
  }
  @include breakpoint(medium down) {
    width: 100%;
  }
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #068F58;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #84C29C;
}

.form-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width:50%;
    font-family: 'Quicksand', serif;
}

.food-img {
  height: 100%;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-image: url(../img/resume-pic.jpg);
  transition: 0.5s ease;
}

.plan-img {
  height: 100%;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-image: url(../img/planner.jpg);
  transition: 0.5s ease;
}

.police-img {
  height: 100%;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-image: url(../img/police.jpg);
  transition: 0.5s ease;
}

.bci-img {
  height: 100%;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-image: url(../img/medtech.jpg);
  transition: 0.5s ease;
}

.food-after {
  background-color: #FFFFFF;
  opacity: 0;
  transition: 0.5s ease;
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 2rem;
    font-family: 'Quicksand', serif;
    color:#458B52;
  }
  p {
    font-family: 'Quicksand', serif;
    text-align: center;
    color:#000;
  }
}

.banner-img {
  height: 28rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  background-image: url(../img/banner3.png);
}

.travel-img {
  height: 15rem;
  padding-left: 3rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  background-image: url(../img/travel.JPG);
}

.vacation-plan {
  display: flex;
  justify-content: center;
  margin: 5rem 0rem 1rem;
  img {
    object-fit: cover;
    overflow: hidden;
    height:30rem;
    width:80%;
  }
}
.data-img {
  padding-top:2rem;
}
.police-banner-img {
  height: 15rem;
  padding-left: 3rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  background-image: url(../img/policewallpaper.jpg);
}

.banner-text {
  background-color: #000;
  padding: 0.5rem 8rem;
  color: #FFF;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
}

.travel-banner {
  background-color: #000;
  padding: 0.2rem 5rem;
  color: #FFF;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
}

.banner-slogan {
  padding-top: 0.5rem;
  font-family: 'Quicksand', sans-serif;
}

.footer {
  background-color: #BFCFC8;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    padding: 7rem 0rem 3rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.7rem;
    text-transform: uppercase;
    color:#134529;
  }
}

.about {
  display:flex;
  justify-content: center;
  padding:5rem 14rem;
}
.portrait {
  width: 70%;
  height: auto;
}
.about-me {
  width:100%;
  padding-left: 3rem;
  h1 {
    width: 100%;
    font-size:1.5rem;
    font-family: 'Montserrat Subrayada', sans-serif;
    color: #6CBAA0;
  }
  p {
    font-size:0.8rem;
    font-family: 'Quicksand', serif;
  }
}

.resume {
  display: flex;
  justify-content: center;
  padding:3rem;
}

.contact {
  display: flex;
  justify-content: center;
  padding:3rem;
}

.product {
  display: flex;
  h1 {
    padding-right: 5rem;
    padding-bottom: 2rem;
  }
}

.product-description {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-bottom: 3rem;
}

.product-type{
  display: flex;
  .cell {
    font-size: 1rem;
    width: 50%;
  }
  p {
    margin-bottom: 0rem;
    padding-bottom: 0rem;
  }
}
.column-wrapper {
  display: flex;
  width:100%;
  padding: 2rem 0rem 0rem;
}
.orbit-previous, .orbit-next {
  color: #000;
}
.why-wrapper {
  display: flex;
  p{
    width: 40%;
  }
}
.separator {
  width: 5%;
}
.feature {
  padding:1rem;
  height: 20%;
  border-radius: 3rem;
  border: 0.15rem solid;
}
.feature-list{
  display: flex;
  align-items: center;
  p{
    margin-bottom: 0rem;
    padding-bottom: 0rem;
  }
  h6{
    margin-bottom: 0rem;
    padding-bottom: 0rem;
  }
}
.feature-description{
  margin: 1rem;
}

.product-number {
  h1 {
    font-family: 'Playfair Display', serif;
    font-size:5rem;
    font-style: italic;
  }
  p {
    padding:0rem 0rem;
    margin-bottom: 0rem;
  }
}

.content {
  padding: 5rem 15rem;
}

.content-topping {
  padding: 5rem 15rem 0rem;
  p{
    font-family: 'Quicksand', sans-serif;
  }
  h2{
    font-family: 'Playfair Display', serif;
    font-size:3rem;
  }
}

.introduction {
  padding:5rem 16rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  p{
    padding-top: 1rem;
  }
}

.define {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:1rem;
  padding-bottom:1rem;
}

.center-text {
  padding:1rem 16rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  p{
    font-size: 1.2rem;
  }
}

.center-text-small {
  padding:1rem 16rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  p{
    padding-top: 0rem;
    padding-left:2rem;
  }

}

.survey-caption {
  p{
    padding: 1rem;
    padding-left:3rem;
    font-style: italic;
    font-size: 1rem;
  }
}

.prototype {
  display: flex;
  align-items: center;
  flex-direction: column;
  img {
    border:0.1rem solid #000;
  }
}


.orbit {
  padding-top: 2rem;
  img {
    border:0.1rem solid #000;
  }
}

.body-text {
  padding:0rem 25rem 1rem;
  display: flex;
  flex-direction: column;
}

.design-process {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    padding-bottom: 0rem;
  }
  img {
    margin-top: 1rem;
    border:0.05rem solid #000;
  }
}
.quotes {
  padding-top:2rem;
  padding-bottom:2rem;
      h5 {
        font-family: 'Playfair Display', serif;
        padding-left: 7rem;
        padding-top:0.2rem;
        color: #8EC3B4;
      }
}

.adv-points {
  padding-bottom: 1rem;
  padding-left: 3rem;
  p {
    padding-bottom:0rem;
    margin-bottom: 0rem;
  }
}
.marker {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 18rem;
  h4 {
    font-family: 'Chango', cursive;
    font-size:2.5rem;
    color: #8EC3B4;
  }
  p {
    font-size:1.1rem;
  }
}
.icon {
  padding-top:2rem;
  padding-bottom:1rem;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  color:#068F58;
}
.description-set {
  padding-top: 2rem;
}
.z3 {
  display: flex;
  justify-content: center;
  padding: 1rem 0rem 3rem;
}
.content-body {
  h1 {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 2rem;
    border: 0.2rem solid #000;
    width: 60%;
    margin:0.5rem;
  }
  h2 {
    padding-top: 1.5rem;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
  }
  p{
    font-family: 'Quicksand', sans-serif;
  }
  h6 {
    padding-top:1.5rem;
    font-family: 'Oswald', sans-serif;
    font-size:1rem;
  }
  h7 {
    padding-top:1rem;
    font-family: 'Quicksand', sans-serif;
    text-decoration: underline;
  }
}


.who-role {
  display: flex;
  h2 {
    padding-top:0rem;
    padding-right: 1rem;
  }
}


.what-desc {
  display: flex;
  justify-content: flex-end;
  h2 {
    padding-top:0rem;
    width:30%;
    text-align: right;
  }
  p {
    padding-left: 1rem;
    width:100%;
  }
}

.key-features{
  display: flex;
}
.proscons {
  width: 100%;
}

.spacing {
  width: 50%;
}
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.bar {
  width: 0.2rem;
  border-left: 0.3rem solid #000;
  border-right: 0.3rem solid #000;
  border-radius: 0.2rem;
}
